:root {
	--header-height: 3.5rem;
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--body-font: 'Roboto', sans-serif;
	--light: #F9F9F9;
	--first-color: hsl(31, 100%, 70%);
	--blue: #78bdfd;
	--light-blue: #b4d7f8;
	--green: rgb(115, 219, 115);
	--body-color-mgr: #fde6b3;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--light-first-color: rgb(243, 203, 142);

	/* ============= */
	--first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --box-shodow:0 8px 32px hsla(0, 0%, 43%, 0.466);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-main: 90px;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--body-color);
  scroll-behavior: smooth;
  max-width: 1360px;
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  /* transition: .4s; */
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}
header{
  font-size: var(--normal-font-size);
}
#sidebar-product{
  float: left;
  margin-top:var(--mb-main);
  margin-left:10px;
  width: 250px;
  box-shadow: 0 8px 32px hsla(0, 0%, 43%, 0.466);
  border-radius: 20px;
  height: 956px;
  position: absolute;
  background-color: var(--body-color);
  display: block;
}
.content-fillter{
  /* border: 1px solid black; */
  margin: 30px;

}
.content-fillter ul{
  padding: 10px;
  padding-top: 10px;
}
.content-fillter ul li{
  margin-top: 3px;
}
.content-fillter span{
  font-weight: var(--font-bold);
  color: var(--first-color);
}
.content-fillter li input[type="checkbox"]:checked {
  background-color: rgb(70, 68, 68); /* màu nền khi được chọn */
}
.button.fillter{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--title-color);
  background-color: transparent;
  color: var(--title-color);
  margin: 30px 40px;
}
.section{
  position: relative;
  height: 100%;
  /* border: 1px solid black; */
  margin-top:var(--mb-main);
  padding: 0 10px 10px 10px;
  width: 1070px;
}
.productList{
  /* border: 1px solid black; */
  left: 260px;

}
.productList .products__container{
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  /* grid-gap: 20px; */
  padding:30px;
  height: 100%;
  /* border: 1px solid black; */
  box-shadow: 0 8px 32px hsla(0, 0%, 43%, 0.466);
  border-radius: 20px;
  background-color: var(--body-color);
}
.productList .products__button:hover {
  background-color: var(--button-color-alt);
  color: var(--first-color);
}
.productList .products__card:hover{
  box-shadow: 0 8px 32px hsla(0, 0%, 43%, 0.466);
}

.section.thanhtoan{
  left: 0px;
  /*   */
  width: 100%;
  max-width: 1360px;
  justify-content: center;
  padding: 40px;
  padding-top: 20px;
  height: 100vh;
}
.thanhtoan .title h1{
  color: var(--first-color);
}
.thanhtoan div{
  margin-bottom: 20px;
  color:var(--title-color)
}
.thanhtoan .div-diachi{
  border-radius: 20px;
  box-shadow: var(--box-shodow);
  padding: 18px;
  font-size: 20px;
}
.thanhtoan .button{
  float: right;
  border-radius: 5px;
  padding: 15px;
}
.thanhtoan .button:hover{
  color: var(--first-color);
}
.thanhtoan i{
  margin-right: 10px;
}
.thanhtoan .div-diachi div{
  display: flex;
  flex-grow: 1;
}
.thanhtoan .div-diachi .item{
  margin-right: 7px;
  margin-top: 10px;
  padding: 5px;
}
.thanhtoan .div-diachi .item.btn_sua{
  border: 2px solid var(--button-color);
  border-radius: 7px;
  color: var(--title-color);
  font-size: medium;
  text-align: center;
  font-weight: bold;
}
.thanhtoan .div-diachi .item.btn_sua:hover{
  background-color: var(--first-color);
}
table, th, td {
  border:1px solid var(--title-color);
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
.tbl-sp{
  box-shadow: var(--box-shodow);
  padding: 20px;
  border-radius: 20px;
}
.tbl-sp table{
  width: 100%;
  margin: 10px 0 10px 0;
}
.tbl-sp .total-price{
  text-align: right;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}
.tbl-sp table td{
  padding: 5px 0;
	align-items: center;
}
.tbl-sp table img{
  width: 40px;
  height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.section.main-wrapper {
  min-height: 85vh;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 150px;
  margin-bottom: 40px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.product-div {
  border-radius: 2px;
  margin: 1rem 0;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 8px 32px hsla(0, 0%, 43%, 0.466);
  border-radius: 20px;
}

.product-div-left {
  padding: 20px;
  /* border: 1px solid black; */
  width: 600px;
}

.product-div-right {
  padding: 40px;
  margin-left: 50px;
  /* border: 1px solid black; */
  width: 500px;
}   
.product-div-right div{
  padding-bottom: 20px;
}
.img-container{
  display: block;
  width: 100%;
  height: 100%;
  margin: 50px;
  position: relative;
}
.img-container img{
  width: 450px;
  margin: 30px;
  border-radius: 10px;
  /* box-shadow: 0 8px 30px hsla(0, 0%, 73%, 0.753); */
}
#imgZoom{
  position: absolute;
  left: 0;
  top: 0;
  --zoom-x:50%;
  --zoom-y:50%;
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
  clip-path: circle(80px at var(--zoom-x) var(--zoom-y));
}
.product-name {
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
  display: block;
  text-transform: uppercase;
}

.product-price {
  font-weight: 900;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgb(233, 151, 58);
}
.id-status{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 2px dashed rgb(78, 78, 78);
}
.id-status div{
  display: flex;
  
}
.id-status div .font-bold{
    font-weight:bold;
    margin-left: 5px;
}
.size {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.size p {
  font-size: 18px;
  font-weight: 600;
}

.psize {
  width: 86px;
  height: 30px;
  border: 2px solid var(--first-color);
  border-radius: 7px;
  color: var(--title-color);
  text-align: center;
  line-height: 30px;
  margin: 0px 10px;
  opacity: 0.9;
  /* margin-bottom: 20px; */
  margin-bottom: 0;
}

.psize:hover {
  background-color: #707070;
  border: 2px solid #707070;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.psize p {
  font-size: 18px;
  font-weight: 600;
}
.psize.active {
  border-width: 2px;
  color: black;
  font-weight: 500;

}
.quantity {
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.quantity p{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.quantity input {
  height: 30px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-left: 15px;
  border-radius: 5px;
  background-color: var(--body-color);
  color: var(--title-color);
}
.quantity input:hover{
  cursor: pointer;
}
.product-rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-rating span {
  margin-right: 6px;
}
.product-rating .bx{
  color: var(--yellow);
}
.product-desc {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 20px;

}

.btn-groups {
  margin-top: 40px;
  margin-bottom: 0;
}

.btn-groups button {
  display: block;
  font-size: 18px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 20px;
  line-height: 100%;
}
.add-cart-btn {
  background-color: #ff9f00;
  border: 2px solid #ff9f00;
}

.add-cart-btn:hover {
  background-color: #fff;
  color: #ff9f00;
}

.buy-now-btn {
  background-color: #333;
  border: 2px solid #333;
}

.buy-now-btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 992px) {
  .product-div {
      grid-template-columns: 100%;
  }
  .product-div-right {
      text-align: center;
  }

  .product-rating {
      justify-content: center;
  }
  .product-desc {
      max-width: 400;
      margin-right: auto;
      margin-left: auto;
  }

}



@media screen and (max-width: 400px) {
  .btn-groups btn {
      width: 100%;
      margin-bottom: 10px;
  }
}